<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.iteso.escalaapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sebas_nacional_2_recortada"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ActivitySplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.ActivitySignIn"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.ActivityProfile"
            android:parentActivityName=".Activities.ActivityMain" />
        <activity android:name=".Activities.ActivityEditProfile" />
        <activity android:name=".Activities.ActivityGym" />
        <activity
            android:name=".Activities.ActivityClimber"
            android:parentActivityName=".Activities.ActivityMain" />
        <activity android:name=".Activities.ActivityCompetition" />
        <activity android:name=".Activities.ActivityJudging" />
        <activity android:name=".Activities.ActivityResults" />
        <activity
            android:name=".Activities.ActivityMain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ActivityCompRegister" />
        <activity android:name=".Activities.ActivitySettings"></activity>
        <activity
            android:name=".Activities.ActivitySignGym"
            android:parentActivityName=".Activities.ActivitySettings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>